.image-entry {
  /*box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.75);*/
}

.image-entry-hover {
  box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.75);
}

.image-tag-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.image-tag {
  border-radius:8px;
  color: #111;
  background-color: #eee;
  opacity: 0.6;
  text-align: center;
  border: 1px solid #eee;
  padding: 2px;
  margin: 2px;
  font-size: 0.6em;
  max-height: 20px;
  cursor: pointer;
}

.image-tag-character {
  color: #eee;
  background-color: mediumseagreen;
  border: 1px solid white;
}

.image-thumbnail {
  filter: blur(8px);
}

.image-thumbnail:hover {
  filter: none;
}
